<html>
  <head>
    <title>{{title}} logger</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
  </head>
  <body>
    <div id="container">
      <div class="content">
        <div class="topbar">
          <div class="topbar__left">
              <h1>{{title}}</h1>
          </div>
          <div class="topbar__right">
            <div id="clear">
              <span class="clear__confirm">Careful 😳 Click again to clear all your logs <span class="clear__cancel">&times;</span></span>
              <button>Clear Logs</button>
            </div>
          </div>
        </div>
        <div id="log">
          
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>