<html>
  <head>
    <title>{{title}} logger</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
  </head>
  <body>
    <div id="container">
      <div class="content">
        <div class="topbar">
          <div class="topbar__left">
              <h1>{{title}}</h1>

              {{#if show_info}}
                <div class="topbar__navigation">
                  <a class="show-info" href="#about">About</a>
                  <a class="show-info" href="#curl">cURL</a>
                  <a class="show-info" href="#node"><i class="devicon-nodejs-plain"></i></a>
                  <a class="show-info" href="#php"><i class="devicon-php-plain"></i></a>
                  <a href="{{github}}" target="_blank"><i class="devicon-github-plain"></i></a>
                </div>
              {{/if}}
          </div>
          <div class="topbar__right">
            <div id="clear">
              <span class="clear__confirm">Careful 😳 Click again to clear all your logs <span class="clear__cancel">&times;</span></span>
              <button>Clear Logs</button>
            </div>
          </div>
        </div>
        <div id="log">
          
        </div>
      </div>
    </div>
  
    {{#if show_info}}
      <div id="peashooter-info">
        <div class="content">
          <div id="peashooter-info__close">&times;</div>
          <ul class="navigation">
            <li>
              <a href="#about" class="is-active">About</a>
            </li>
            <li>
              <a href="#curl">cURL</a>
            </li>
            <li>
              <a href="#node"><i class="devicon-nodejs-plain"></i> Node</a>
            </li>
            <li>
              <a href="#php"><i class="devicon-php-plain"></i> PHP</a>
            </li>
            <li>
              <a href="{{github}}" target="_blank"><i class="devicon-github-plain"></i> GitHub</a>
            </li>
          </ul>
          <div class="tabs">
            <div id="about" class="tab is-active">
            about
            </div>
            <div id="curl" class="tab">
            curl
            </div>
            <div id="node" class="tab">
            node
            </div>
            <div id="php" class="tab">
            php
            </div>
          </div>
        </div>
      </div>
    {{/if}}

    <div id="default-log">
      <h2 class="text-center">Get Started</h2>
      <pre>some code</pre>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="log.js"></script>
    <script src="dashboard.js"></script>
  </body>
</html>